

body {
  font-family: Arial, sans-serif;
  background-color: #0e0d0d;
  color: aliceblue;
}



h1, h2 {
  font-weight: bold;
}

.bg-dark {
  background-color: #222 !important;
}

.btn-primary {
  background-color: #007bff;
}


#home h1, #home p {
  margin-right: 20px;
}
#home h1{
  text-align: right;
  margin-top: 25vh;
  color: rgb(245, 243, 247);
  font-weight: 600;
  font-size: 45px;

}

#home p{
  text-align: right;
  margin-top: 05vh;
  color: rgb(245, 243, 247);
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;

  
}
#contact{
  background-color: rgb(12, 12, 63);
}





#home {
  position: relative; 
  background-image: url("./components/logo192.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  height: 100vh;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637); 
  z-index: 1;
}


#home h1, #home p {
  position: relative;
  text-align: center;
  z-index: 2;
}


@media (max-width: 1000px) {
  #home::before {
    background-color: rgb(0, 0, 0); 
    

  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  color: white;
}

.nav-links {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
}



.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    width: 100%;
    background-color: #222;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
